<div class='container container--{{ section.settings.container_size }} container--with-aside-paddings body-font-weight-from-global-settings' {{ block.shopify_attributes }}>
  <div class='rte rte--blog-post article__content body-color {{ block.settings.body_size }}'>{{ article.content }}</div>
</div>
